.spinner{
  text-align: center;
  animation: rotating 2s linear infinite;
  border-radius: 50%;
  margin-top: 10%;
  height: 100%;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 900px) {
  .spinner img{
    width: 60px;
    height: 90px;
  }
}


.lds-ring {
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  top: -15%;
  height: 22px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
