.hiring--process{
  margin-top: 12%; 
  margin-bottom: 20%;
}
.hiring--process h1{
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
  font-weight: bold;
  margin-bottom: 40px;
}
@media only screen and (max-width: 990px) {
  .hiring--process article{
    margin-top: -15%;
  }
  .hiring--process{
    margin-top: 38%;
  }
  .hiring--process button{
    margin-top: 60px;
  }
}