@media only screen and (max-width: 990px) {
  .modal--card{
    width: 100%!important;
    margin: 20% 10px!important;
  }
  .modal--card .contact_card input{
    width: 100%;
  }
  .modal--card h1{
    text-align: center;
  }
  .modal-title{
    margin-top: 10px;
    text-align: center!important;
  }
  .ticket--card--info  div p{
    font-size: 15px!important;
  }
}
.modal--card{
  padding: 10px;
  width: 70%;
  background: white!important;
}
.modal--card h1{
  padding: 30px 10px;
  background-color: antiquewhite!important;
}
.modal-content{
  border: none;
  border-radius: 10px!important;
}
.col-md-6 .text-danger{
  font-family: cursive;
}
.contact_card{
  padding: 0px 10px;
  width: 100%;
}
.contact_card input{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.form-label{
  font-family: cursive;
}
.select--box-1{
  position: relative;
}
.select--box-1 i{
  position: absolute;
  right: 8%;
  top: 50%;
  font-size: 22px;
}
.select--box-1--modify i{
  position: absolute;
  right: 8%;
  top: 40%;
  font-size: 22px;
}
.select--box-2{
  position: relative;
}
.select--box-2 i{
  position: absolute;
  right: 8%;
  top: 50%;
  font-size: 22px;
}
.select--box-2--modify i{
  position: absolute;
  right: 8%;
  top: 40%;
  font-size: 22px;
}



.view--ticket .card{
  padding: 30px!important;
  box-shadow: 0px 4px 30px 4px #7474BF!important;
  border: none!important;
}
.view--ticket h2{
  text-align: center;
  margin-bottom: 20px!important;
}
.view--ticket h2 span{
  color: aliceblue;
  font-family: 'Roboto Slab', serif;
}
.view--ticket p{
  font-size: 20px;
}
.view--ticket p span{
  color: azure;
  padding: 0px 10px;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', serif;
}
.ticket--card--info{
  text-transform: capitalize;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 2em;
  text-align: center;
}
