@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login--section{
  margin-top: 15%;
  margin-bottom: 15%;
  color: #333;
}
.login--container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.login--card{
  width: 40%;
  border-radius: 8px;
}
.logo{
  margin-top: 40px;
}
.logo h4{
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif!important;
  font-weight: bold;
}
.login--text{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 18px;
}
.login--btn{
  text-align: center!important;
  width: 50%;
  font-family: 'Poppins', sans-serif!important;
  font-size: 1.2em!important;
  text-transform: capitalize;
  border-style: none!important;
}
@media only screen and (max-width: 990px) {
  .login--section{
    margin-top: 20%;
  }
  .login--card {
    width: 80%;
  }
  .cards--admin{
    margin-top: 40%!important;
  }
}
.toast{
  color: aqua;
}




.cards--admin{
  margin-top: 15%;
  margin-bottom: 20%;
}
.cards--admin h1{
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
}
.cards--admin h1 i{
  text-decoration: none!important;
}
.cards--admin .links--admin{
  text-decoration: none;
}
.cards--admin .card{
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.cards--admin .card:hover{
  transform: translateY(-5px);
}
.cards--admin .text-large{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.cards--admin .count{
  color: #333;
}
.cards--admin p{
  color: #333;
  padding: 0%;
  margin: 0%;
}




.view--request{
  margin: 40px 0px;
  overflow-x: auto;
  overflow-y: hidden;
 }
.view--request h3{
    text-decoration: underline;
}
.view--request .operation{
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.view--request .operation input{
  width: 50%;
  padding: 10px;
  font-size: 18px;
  font-family: cursive;
  letter-spacing: 1px;
}
.view--request .operation input:focus{
  box-shadow: none;
}
@media only screen and (max-width: 900px) {
   .table{
     text-align: center;
     width: 1000px;
   }
   .view--request .operation{
      justify-content: center;
   }
  .view--request .operation input{
    margin: 10px;
      width: 100%;
  }
 }
 .view--request .table--head tr{
   background: rgba(0, 0, 0, 0.1);
   border-radius: 50%;
 }
 .view--request .table--head tr th:first-child{
   border-top-left-radius: 15px!important;
 }
 .view--request .table--head tr th:last-child{
   border-top-right-radius: 15px!important;
 }
 .view--request .table--head tr th{
   padding: 30px 10px;
 }
 .view--request .table--body tr td{
   padding: 30px 0px;
   text-transform: lowercase;
 }
 .view--request .table--body tr td .btn{
   padding: 5px 40px;
   margin-top: -5px;
 }










