@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login--section{
  margin-top: 15%;
  margin-bottom: 15%;
  color: #333;
}
.login--container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.login--card{
  width: 40%;
  border-radius: 8px;
}
.logo{
  margin-top: 40px;
}
.logo h4{
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif!important;
  font-weight: bold;
}
.login--text{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 18px;
}
.login--btn{
  text-align: center!important;
  width: 50%;
  font-family: 'Poppins', sans-serif!important;
  font-size: 1.2em!important;
  text-transform: capitalize;
  border-style: none!important;
}
@media only screen and (max-width: 990px) {
  .login--section{
    margin-top: 20%;
  }
  .login--card {
    width: 80%;
  }
}
.toast{
  color: aqua;
}




.cards--admin{
  margin-top: 15%;
  margin-bottom: 20%;
}
.cards--admin h1{
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
}
.cards--admin .card{
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.cards--admin .card:hover{
  transform: translateY(-5px);
}
.cards--admin .text-large{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.cards--admin p{
  padding: 0%;
  margin: 0%;
}