@media only screen and (max-width: 990px) {
  .event--page--section{
    text-align: center;
    margin-top: 40%!important;
  }
  .event--page--section h1{
    margin-bottom: 40px!important;
  }
  .event--filter{
    justify-content: center;
    gap: 1em!important;
  }
}
.event--page--section{
  margin-top: 10%;
  margin-bottom: 20%!important;
}
.event--page--section h1{
  text-shadow: 0px 4px 25px 4px #348AC7!important;
  font-size: 35px;
  font-weight: bold;
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
}
.event--filter{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 15px;
}
.event--filter .filter--nav--link{
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.event--filter p{
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}
.no--data{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center; 
  align-self: center;
  flex-direction: column;
  gap: 2em;
}
.no--data p{
  font-size: 20px;
}


/*
||
|| *************************** Event Details section and register here ***************************************
||
*/

.event--details--section{
 display: flex;
 justify-content: center; 
 text-align: left;
 margin-top: 5%;
}
.event--card{
  border: none;
  border-radius: 10px;
  padding: 40px 20px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
  position: relative;
}
.event--card .badge{
  position: absolute;
  right: 0%;
  letter-spacing: 2px;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 0;
  top: 0%;
  border: none!important;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}
.event--card p{
  font-family: 'Roboto Slab', serif;
}
.event--card h6{
  font-size: 20px;
}
.event--card button{
  position: absolute;
  right: 0%;
  font-size: 20px;
  padding: 8px 25px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #7474BF; 
  background: linear-gradient(to left, #348AC7, #7474BF);
  color: white;
  border: none;
  bottom: 0%;
}
.event--text{
  width: 60%;
}
.event--text h3{
  font-size: 30px;
  background: #7474BF; 
  background: linear-gradient(to left, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
  font-weight: bold;
  letter-spacing: 1px;
}
@media only screen and (max-width: 990px) {
  .event--details--section{
    padding: 0%;
    margin: 0%;
    margin-top: 10%;
  }
  .event--card{
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .event--card main{
    margin-top: 50px;
    text-align: center;
  }
  .event--text{
    width: 100%;
  }
  .event--card h6{
    margin-bottom: 30px;
  }
  .event--card button{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
  }
}




















