@media only screen and (max-width: 990px) {
  .event--page--section{
    text-align: center;
    margin-top: 40%!important;
  }
  .event--page--section h1{
    margin-bottom: 40px!important;
  }
  .event--filter{
    justify-content: center;
    gap: 1em!important;
  }
}
.event--page--section{
  margin-top: 10%;
  margin-bottom: 20%!important;
}
.event--page--section h1{
  text-shadow: 0px 4px 25px 4px #348AC7!important;
  font-size: 35px;
  font-weight: bold;
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
}
.event--filter{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 15px;
}
.event--filter .filter--nav--link{
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.event--filter p{
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}
.no--data{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center; 
  align-self: center;
  flex-direction: column;
  gap: 2em;
}
.no--data p{
  font-size: 20px;
}


/*
||
|| *************************** Event Details section and register here ***************************************
||
*/

.event--details--section{
 display: flex;
 justify-content: center; 
 text-align: left;
 margin-top: 5%;
}
.event--card{
  border: none;
  border-radius: 10px;
  padding: 40px 20px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
  position: relative;
}
.event--card .badge{
  position: absolute;
  right: 0%;
  letter-spacing: 2px;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 0;
  top: 0%;
  border: none!important;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}
.event--card p{
  font-family: 'Roboto Slab', serif;
}
.event--card h6{
  font-size: 20px;
}
.event--card button{
  position: absolute;
  right: 0%;
  font-size: 20px;
  padding: 8px 25px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #7474BF; 
  background: linear-gradient(to left, #348AC7, #7474BF);
  color: white;
  border: none;
  bottom: 0%;
}
.event--card button:hover{
  box-shadow: 0px 4px 20px 4px #348AC7;

}
.event--text{
  width: 60%;
}
.event--text h3{
  font-size: 30px;
  background: #7474BF; 
  background: linear-gradient(to left, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
  font-weight: bold;
  letter-spacing: 1px;
}
@media only screen and (max-width: 990px) {
  .event--details--section{
    padding: 0%;
    margin: 0%;
    margin-top: 10%;
  }
  .event--card{
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .event--card main{
    margin-top: 50px;
    text-align: center;
  }
  .event--text{
    width: 100%;
  }
  .event--card h6{
    margin-bottom: 30px;
  }
  .event--card button{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
  }
}




@media only screen and (max-width: 990px) {
  .registered--badge{
    transform: rotateZ(0deg)!important;
    left: 10%;
    top: 60px;
    border-radius: 5px!important;
    opacity: 1!important;
    background-color: #1cefff!important;
    font-size: 15px!important;
    padding: 10px 0px!important;
  }
  .event--brief--section{
    margin-top: 30%;
  }
  .event--brief--section .event-describe{
    margin-top: 30%!important;
  }
  .event--brief--section main{
    justify-content: center!important;
    gap: 0em!important;
    margin-bottom: 20%;
    padding: 0%;
  }
  .timings p{
    font-size: 18px!important;
  }
}
.event--back_btn{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: whitesmoke;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 40px;
}
.event--back_btn:hover{
  box-shadow: 0px 4px 25px 4px #348AC7;
}
.event--back_btn i{
  padding: 14px 0px;
  color: #333;
}
.registered--badge{
  border-radius: 15px;
  right: 10%;
  border: none;
  color: #333;
  background-color: whitesmoke;
  padding: 8px 30px;
  position: absolute;
  font-size: 25px;
  font-family: cursive;
  transform: rotateZ(-15deg);
}
.event--brief--section{
  margin-bottom: 20%;
}
.event--brief--section h1{
  font-family: cursive;
  font-weight: bold;
  background: #7474BF; 
  background: linear-gradient(to left, #348AC7, #7474BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: transparent;
  margin-bottom: 60px;
}
.event--brief--section .card{
  border-radius: 10px;
  border: none;
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  position: relative;
}
.event--brief--section .event-describe{
  color: azure;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 20px;
}
.event--brief--section .event-extra{
  font-size: 25px;
  margin-top: -25px;
  font-family: fantasy;
  letter-spacing: 1px;
  padding: 0px 20px;
  text-align: center;
  position: absolute;
  top: 0%;
  display: flex;
  align-self: center;
  align-content: center;
}
.event--brief--section .event-extra .badge{
  background: #c0c0aa; 
  background: linear-gradient(to right, #1cefff, #c0c0aa); 
  padding: 15px 20px;
  border-radius: 10px;
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
.event--brief--section .event-extra p{
  padding: 10px 30px;
}
.event--brief--section .event--info{
  padding: 0px 20px;
  margin-bottom: -10px;
}
.event--brief--section .event--info h6{
  font-family: 'Roboto Slab', serif;
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 30px;
}
.timings{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.timings .date{
  margin-top: 20px;
}
.timings p{
  font-family: cursive;
  margin: 0%;
  font-size: 22px;
  color: palegoldenrod
}
.timings p b{
  color: #000;
}

.place{
  position: relative;
}
.place p{
  margin: 0%;
  border-radius: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-family: 'Roboto Slab', serif;
  color: #333;
}
.register--btn button{
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 35px;
  background-color: #348AC7;
  font-weight: bold;
  border: none!important;
  transition: 0.2s all ease-in-out;
  background: #170A59!important;
}
.register--btn button:hover{
  transform: translateY(-5px);
}
.event--brief--section main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



























